

  <div style="min-height: 100vh; overflow: hidden;" class="hold-transition login-page">
    <div class="login-box">
      <div class="login-logo">
        <a >Reset Password</a>
      </div>
      <!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Enter your password </p>
  
        <form [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">
          <div class="gray-form clearfix">

           <div class="form-group">
             <label>Password* </label>
             <input [ngClass]="{ 'is-invalid': (resetPasswordForm.controls.password.touched || resetFormsubmitted) && resetPasswordForm.get('password').errors }"
               class="form-control" type="password" placeholder="Password" formControlName="password">
             <p *ngIf="resetPasswordForm.controls.password.touched || resetFormsubmitted">
               <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Password" [errors]="resetPasswordForm.get('password').errors"></app-form-validation-errors>
             </p>
           </div>

           <div class="form-group">
             <label>Re-enter Password*</label>
             <input [ngClass]="{ 'is-invalid': (resetPasswordForm.controls.repassword.touched || resetFormsubmitted) && resetPasswordForm.get('repassword').errors }"
               class="form-control" type="password" placeholder="Confirm Password" formControlName="repassword">
             <p *ngIf="resetPasswordForm.controls.repassword.touched || resetFormsubmitted">
               <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Confirm password" [errors]="resetPasswordForm.get('repassword').errors"></app-form-validation-errors>
             </p>
           </div>


            <button type="submit" [ngClass]="{ 'submit-btn-disable': !resetPasswordForm.valid }" class="btn btn-primary btn-block btn-flat">Submit</button>

          </div>
        </form>
  

     
       
     
      </div>
  
    </div>
  </div>
  



 
 <!-- <section  class="login-form page-section-ptb">
   <div class="container">
     <div class="row">
       <div class="col-md-12">
         <div class="section-title">
           <span>Reset your password?</span>
           <h2>Reset Password</h2>
           <div class="separator"></div>
         </div>
       </div>
     </div>
     <div class="row justify-content-center">
       <div class="col-lg-6 col-md-12">
         <form [formGroup]="resetPasswordForm" (ngSubmit)="updatePassword()">
           <div class="gray-form clearfix">
 
            <div class="form-group">
              <label>Password* </label>
              <input [ngClass]="{ 'is-invalid': (resetPasswordForm.controls.password.touched || resetFormsubmitted) && resetPasswordForm.get('password').errors }"
                class="form-control" type="password" placeholder="Password" formControlName="password">
              <p *ngIf="resetPasswordForm.controls.password.touched || resetFormsubmitted">
                <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Password" [errors]="resetPasswordForm.get('password').errors"></app-form-validation-errors>
              </p>
            </div>

            <div class="form-group">
              <label>Re-enter Password*</label>
              <input [ngClass]="{ 'is-invalid': (resetPasswordForm.controls.repassword.touched || resetFormsubmitted) && resetPasswordForm.get('repassword').errors }"
                class="form-control" type="password" placeholder="Confirm Password" formControlName="repassword">
              <p *ngIf="resetPasswordForm.controls.repassword.touched || resetFormsubmitted">
                <app-form-validation-errors minLength=10 maxLength=50 errorPrefix="Confirm password" [errors]="resetPasswordForm.get('repassword').errors"></app-form-validation-errors>
              </p>
            </div>
 
 
             <button type="submit" [ngClass]="{ 'submit-btn-disable': !resetPasswordForm.valid }" class="button red">Submit</button>
 
           </div>
         </form>
       </div>
     </div>
   </div>
 </section> -->
 

